<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573230158528-fk7pt6c6nfsuph0lceooutpeqg04bvh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573230158528-fk7pt6c6nfsuph0lceooutpeqg04bvh6</string>
	<key>API_KEY</key>
	<string>AIzaSyAPXeVZHmyN3weqcXAu3RthsM5ecNIvRLM</string>
	<key>GCM_SENDER_ID</key>
	<string>573230158528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vila.appvila</string>
	<key>PROJECT_ID</key>
	<string>appvilafirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>appvilafirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573230158528:ios:4bdc12b8c16a36fdba9325</string>
</dict>
</plist>